.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    width: 75px;
    background-color: white;
    z-index: 200;
    padding-top: 5px;
}

.sidebar-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 76px;
    cursor: pointer;
    margin-bottom: 1px;
}
.sidebar-link:hover{
    background-color: lightgrey;
    transition: 0.5s;
}
.sidebar-link-icons{
   height: 25px;
    
}
.sidebar-link div{
    display: flex;
    justify-content: center;
    font-family: Roboto, Ariel;
    font-size: 10px;

}